<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.employer.1" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FaceDetector</name>
    <description>
        A sample Apache Cordova application for Face Detector.
    </description>
    <author email="luis@luisdemarchi.com.br" href="http://luisdemarchi.com.br">
        Luis De Marchi
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="websecurity" value="disable" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="loadUrlTimeoutValue" value="700000" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="26" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <config-file overwrite="true" parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
        <string>Allow the app to use your camera</string>
    </config-file>
    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
